## Data Deployment Draft

In [1]:
# import libraries
import pandas as pd

In [2]:
# load the data
data = pd.read_csv('data/processed_data.csv')

# preview the data
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,39,0,3,0.430857,2,3,1,5,2,1,...,3,2,1,7,3,2,16,11,0,9
1,29,0,2,0.693028,1,21,3,3,2,1,...,3,3,1,8,3,2,2,5,3,5
2,40,0,2,0.348682,2,1,1,5,2,1,...,3,1,1,24,2,2,0,0,0,0
3,24,0,2,0.662980,1,6,3,1,4,2,...,3,3,1,4,0,2,7,8,0,6
4,44,0,2,0.852952,1,5,5,5,1,1,...,3,4,1,0,2,3,0,5,1,2